@model IEnumerable<InnVM>
@{
    ViewData["Title"] = "Read";
}
<h1 class="text-center">Excel-Data</h1>
<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th> Date </th>
            <th> Product Code </th>
            <th> Opening Quantity </th>
            <th> Total Purchase Quantity </th>
            <th> Total Purchase Amount </th>
            <th> Total Sale Quantity </th>
            <th> Total Sale Amount </th>
            <th> Profit & Loss</th>
            <th> Closing Quantity </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Date</td>
                <td>@user.ProductCode</td>
                <td>@user.Opening_Quantity </td>
                <td>@user.Total_Purchase_Quantity</td>
                <td>@user.Total_Purchase_Amount</td>
                <td>@user.Total_Sale_Quantity</td>
                <td>@user.Total_Sale_Amount</td>
                <td>@user.Profit_Loss</td>
                <td>@user.Closing_Quantity</td>
            </tr>
        }
    </tbody>
</table>